body {
    font-family: monospace;
    background: #fff;
    cursor: cell;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

h4 { 
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

article header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.date {
    color: #616161;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#links {
    display: flex;
    gap: 10px;
}

#links a,
#links #mail {
    display: flex;
    font-size: 1em;
    color: #3b3b3b;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;
    transition: .3s;
}

#links a:hover,
#links #mail:hover {
    background-color: #ececec;
}

#links a i {
    opacity: .8;
}

#location {
    font-size: .8em;
}

#bio,
#about,
#experience,
#projects {
    margin-bottom: 60px;
}

#bio p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: #616161;
}

::-moz-selection {
    color: #fff;
    background: #3b3b3b;
}
  
::selection {
    color: #fff;
    background: #3b3b3b;
}

#skills ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}

#skills li {
    background-color: #ececec;
    border-radius: 3px;
    padding: 2px 6px;
}

@media only screen and (max-width: 600px) {
    #bio {
        text-align: center;
    }

    #links {
        justify-content: center;
    }
}